


<div class="content4">
    <div id="header_cart">        
          <p>MY SHOPPING CART <i class="fa fa-shopping-cart" aria-hidden="true"></i></p>     
      </div>
     
     <div class="cart2">
        <div id="p"><a href="shop.php"><p><i class="fa fa-chevron-left" aria-hidden="true"></i> Continue</p></a></div>
        <div class="cart_2">
             <div class="my_cart">
                <p id="p_mycart"><strong>My Shopping Cart</strong></p>
                <!--<p id="p_pro">My products</p>
                <p id="p_cost">Quantity</p>
                <p id="p_amount">Total</p>-->
                <div id="carts">
                    <%= render 'carts' %>
                </div>
               
            </div>
                <div class="info_cart">
                    <%= render 'show_cart' %>
                </div>
        </div>
       
     </div>
  
   </div>
