<div class="content">
    <div class="slider">
        <div class="box">
            <p style="font-size:300%;">ORGANIC</p>
            <p style="font-size:300%;color:rgb(215, 214, 40);" >VEGBOXES</p>
            <p style="font-family: 'Bree Serif', serif;font-size:150%;">FROM $9.99</p>

        </div>
    </div>
    <div class="instead">
        <div id="item1" class="item">
            <p>PROGRESSIVE</p>
            <p>METHODS</p>
            <h6></h6>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
        <div id="item2"  class="item">
          <p>PROGRESSIVE</p>
          <p>METHODS</p>
          <h6></h6>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
        <div id="item3"  class="item">
          <p>PROGRESSIVE</p>
          <p>METHODS</p>
          <h6></h6>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
        <div id="item4"  class="item">
          <p>PROGRESSIVE</p>
          <p>METHODS</p>
          <h6></h6>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </div>
    </div>
    <div class="organic">
        <p style="font-size:150%;font-family: 'Merriweather', serif;">ORGANIC PRODUCTS GROWN WITH LOVE</p>
        <p style="font-family: 'Saira Extra Condensed', sans-serif;">WHEN QUALITY MATTERS TO YOU AND YOUR CUSTOMERS</p>
    </div>
    <div class="product">
        <div class="detail-product">
            <img src="img/product1.jpg" alt="salad leaf">
            <p>SALAD LEAF</p>
            <p id="cost">$6.3</p>
        </div>
        <div class="detail-product">
              <img src="img/product2.jpg" alt="salad leaf">
            <p>RASPBERRY</p>
            <p id="cost">$32</p>
        </div>
        <div class="detail-product">
              <img src="img/product3.jpg" alt="salad leaf">
            <p>LEMONS</p>
            <p id="cost">$22</p>
        </div>
        <div class="detail-product">
              <img src="img/product4.jpg" alt="salad leaf">
            <p>BLUEBERRIES</p>
            <p id="cost">$13.4</p>
        </div>
    </div>
    <div class="news">
        <div class="detail-news">
             <div class="title-news">
               <h1>AGRICULTURAL NEWS</h1>
             </div>
             <div class="img-news">
               <img src="img/news1.jpg" alt="">
             </div>
             <div class="name-news">
               <h2>Autumn Harvest</h2>
               <p>blablablablablalbala</p>
             </div>
             <div class="img-news">
                <img src="img/news2.jpg" alt="">
             </div>
             <div class="name-news">
               <h2>Growing Turnips</h2>
               <p>blablablablablalbala</p>
             </div>

        </div>
        <div class="choose">
          <div class="img-choose">
              <img src="img/news3.jpg" alt="">
          </div>
          <div class="name-choose" style="background-color:rgb(249, 86, 86);">
            <p>PERFECT RECIPES TO COOK DELICIOUS ORGANIC DISHES</p>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          </div>
          <div class="img-choose">
                <img src="img/news4.jpg" alt="">
          </div>
          <div class="name-choose" style="background-color:rgb(45, 193, 100);">
            <p>VISIT OUR ORGANIC RESTAURANT</p>
            <p>BOOK ONLINE.</p>
            <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
          </div>
        </div>

    </div>


</div> <!-- content -->